<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--	<bean id="myFactoryBean" class="slf.MyFactoryBean">
		</bean>-->

	<bean id="apple" class="slf.lookUp.Apple">

	</bean>

	<bean id="banana" class="slf.lookUp.Banana">

	</bean>

	<bean id="fruitPlate1" class="slf.lookUp.FruitPlate">
		<lookup-method name="getFruit" bean="apple"></lookup-method>
	</bean>
	<bean id="fruitPlate2" class="slf.lookUp.FruitPlate">
		<lookup-method name="getFruit" bean="banana"></lookup-method>
	</bean>


</beans>