<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--	<bean id="myFactoryBean" class="slf.MyFactoryBean">
		</bean>-->

	<bean id="person" class="slf.populateBean.Person" autowire="byName"></bean>
	<bean id="person2" class="slf.populateBean.Person" autowire="byType"></bean>
	<bean id="address" class="slfEditor.Address">
		<property name="province" value="河北"></property>
		<property name="city" value="邯郸"></property>
		<property name="town" value="武安"></property>
	</bean>


</beans>